.square-container {
    width: 200px;
    margin: 10px;

    .square {
        background-color: attr(data-background-color color);
        height: 200px;
    }
    
    .square-desc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .close-button {
            background: none;
            border: none;
        }
    }
}